# OS
.DS_Store
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# Node
node_modules
/build
/.svelte-kit
/package
.npm/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Env
.env
.env.*
!.env.example

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*

# IDE
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Temporary/Output files
check_output_*.txt
